<app-page-header [heading]="'Revisions'" [icon]="'fa-table'"></app-page-header>
<kendo-grid
    [data]="view | async"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [sort]="gridState.sort"
    [filter]="gridState.filter"
    [filterable]="true"
    [pageable]="true"
    [sortable]="true"
    (dataStateChange)="onStateChange($event)"
    [navigable]="true"
>

    <kendo-grid-column field="entity"></kendo-grid-column>
    <kendo-grid-column field="rowId"></kendo-grid-column>
    <kendo-grid-column field="revtype"></kendo-grid-column>
    <kendo-grid-column field="timestamp"></kendo-grid-column>
    <kendo-grid-column field="username"></kendo-grid-column>

</kendo-grid>
